.about {
	margin-top: 5rem;
}

.about .wrapper {
	display: flex;
	max-width: 80rem;
	margin: 0 auto;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.about .portrait_image_container {
	@media screen and (min-width: 768px) {
		margin-right: 1rem;
	}
}

.about .portrait_image_wrapper {
	position: relative;
}

.about .portrait_image_title {
	position: absolute;
	left: 3rem;
	top: 3rem;
	display: none;

	span {
		display: block;
	}

	.biography_image_name {
		font-family: var(--magdelinBold), sans-serif;
	}
}

.about .portrait_image_title_mobile {
	position: relative;
	display: block;
	left: 0;
	top: 0;

	@media screen and (min-width: 768px) {
		display: none;
	}

	h5 {
		margin-bottom: 0;
	}
}

.about .portrait_image {
	border-radius: 9999px;
	width: 100%;

	@media screen and (min-width: 768px) {
		max-width: 42rem;
	}
}

.about .life_circle {
	position: absolute;
	bottom: 0.5rem;
	right: 0;
	z-index: 10;

	@media screen and (min-width: 990px) {
		bottom: 3.5rem;
	}

	img {
		width: 6rem;
	}
}

.biography_wrapper {
	flex: none;
	max-width: 400px;
	margin-top: 1rem;
	position: relative;

	h5 {
		color: var(--gsap-orange);
		letter-spacing: 0.05em;
		display: none;

		@media screen and (min-width: 768px) {
			display: block;
			margin-top: 0;
		}
	}

	.arrow {
		width: 318px;
		height: 250px;
		position: absolute;
		right: -11rem;
		bottom: -7.5rem;
	}
}

.about .mission_statement {
	max-width: 36rem;
	margin: 5rem auto 0 auto;

	@media screen and (min-width: 768px) {
		text-align: center;
	}

	h5 {
		text-transform: uppercase;
		color: var(--gsap-blue);
		letter-spacing: 0.05em;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 0.25rem;
	}

	p {
		font-size: 1.15rem;
	}
}

.about .quote_image {
	margin-top: 5rem;

	figure {
		max-width: 22rem;
		margin: 0 auto;

		@media screen and (min-width: 990px) {
			max-width: 30rem;
		}

		@media screen and (min-width: 1200px) {
			max-width: 42rem;
		}
	}
}
