.site_banner {
	display: flex;
	align-items: center;
}

.site_banner article {
	max-width: 32rem;
	margin-right: 7rem;

	h1 {
		color: var(--gsap-blue);
	}

	ul {
		margin-top: 1rem;
		font-family: var(--magdelinBold), sans-serif;

		li {
			display: flex;
		}

		img {
			width: 1.5rem;
			margin-right: 0.5rem;
		}
	}
}

.banner__image {
	position: relative;
	flex: none;
	width: 40%;

	figure {
		bottom: 0;
		right: 0;
		z-index: 10;
	}
}

.banner_images {
	div {
		position: absolute;
		top: 0;
	}
	p {
		position: absolute;
		right: 6rem;
		font-size: 0.75rem;
		font-family: var(--magdelinBold), sans-serif;
		top: 5rem;
		line-height: .75rem;
		color: #fff;
	}
	img {
		width: 100%;
		border-radius: 50%;
	}
}
