.icap {
	width: 100vw;
	margin-top: 5rem;
	margin-right: -50vw;
	margin-left: -50vw;
	right: 50%;
	left: 50%;
	position: relative;
	color: #fff;
}

.icap .wrapper {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 990px) {
		flex-direction: row;
	}
}

.icap .image_container {
	@media screen and (min-width: 990px) {
		width: 50%;
		flex: none;

		figure {
			height: 100%;

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.icap_columns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--gsap-blue);

	@media screen and (min-width: 990px) {
		width: 50%;
	}
}

.icap_columns_wrapper {
	margin: 0 auto;
	max-width: 42rem;
	padding-bottom: 2.5rem;

	.icap_banner_content_header {
		text-align: center;
		font-family: var(--magdelinBold), sans-serif;
	 	margin: 1.5rem 0;

		@media screen and (min-width: 990px) {
			margin-bottom: 1.5rem;
		}
	}
}

.icap_columns .columns {
	display: flex;

	.column {
		flex: none;
		padding: 0 1rem;
		width: 50%;

		.arrow {
			margin-top: 0.75rem;
		}
	}

	.column_image {
		margin-bottom: 1.5rem;

		img {
			margin: 0 auto;
			height: 8rem;
		}
	}

	.column_text {
		text-align: center;
		.list_item {
			border-top: 1px solid #FFFFFF;
			padding: 1rem 0;

			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.icap .graduation {
	margin-top: 1.5rem;
}

.graduation_wrapper {
	margin-bottom: 2rem;
}

.graduation_graphic {
	width: 15rem;
	margin: 0 auto;

	.graduation_graphic_underline {
		margin-top: 0.5rem;

		img {
			width: 100%;
		}
	}
}

.graduation_graphic_text {
	display: flex;
	align-items: center;

	h4 {
		letter-spacing: .5rem;
		text-transform: uppercase;
		font-size: 1.15rem;
		flex-grow: 1;
		margin-bottom: 0;
	}

	figure {
		margin-right: 0.75rem;

		img {
			width: 2rem;
		}
	}
}

.icap_banner_content_footer_header_content {
	text-align: center;
	margin: 0 auto;
	max-width: 32rem;
	padding: 0 1.25rem;

	@media screen and (min-width: 990px) {
		padding: 0;
	}
}

.learn_more_columns {
	position: relative;
	color: #000;
}

.learn_more_columns .background_dots {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover !important;
}

.learn_more_columns_wrapper {
	position: relative;
	z-index: 10;
	margin: 0 auto;
	padding-bottom: 5rem;
	padding-top: 3rem;

	.sub_header {
		text-transform: uppercase;
		text-align: center;
		font-family: var(--magdelin), sans-serif;
		letter-spacing: 0.1em;
	}
}

.learn_more_columns_wrapper .columns {
	display: flex;
	flex-direction: column;
	margin: 1rem auto 0 auto;
	max-width: 80rem;
	padding: 0 2rem;

	@media screen and (min-width: 990px) {
		flex-direction: row;
	}

	.column {
		margin-top: 1.25rem;
		max-width: 30rem;

		span {
			display: block;
			font-family: var(--magdelinBold), sans-serif;
			font-size: 0.75rem;
			line-height: 1rem;
			margin-bottom: 0.25rem;
			color: var(--gsap-blue);
		}

		h4 {
			color: var(--gsap-blue);
			margin-bottom: 0.25rem;
		}

		@media screen and (min-width: 990px) {
			width: 33.333333%;
			margin-right: 3rem;
			max-width: none;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
