.primary_navigation ul {
	display: none;

	a {
		font-family: "MagdelinBold", sans-serif;
	}

	li {
		margin-bottom: 0;
	}

	li:not(:last-child) {
		margin-right: 2.5rem;
	}

	@media screen and (min-width: 990px) {
		display: flex;
	}
}
