.secondary_nav {
	position: fixed;
	top: 50%;
	bottom: 50%;
	right: 11.5rem;
	width: 200px;
	height: 200px;
	z-index: 100;
	display: flex;
	align-items: center;


	.badges div,
	.bullets div {
		margin-bottom: .5rem;
	}

	.bullets {
		margin-left: .5rem;

		div {
			height: 40px;
			display: flex;
			align-items: center;
		}
	}

	.badge {
		background: var(--gsap-blue);
		color: white;
		font-family: var(--magdelinBold), sans-serif;
		font-size: 1rem;
		padding: .5rem 1.35rem;
		border-radius: 20px;
		transition: all .3s ease-in-out;
		text-align: center;
		// opacity: 0;
	}

	a {
		display: block;
		background: #C7C7C7;
		border-radius: 50%;
		width: 11px;
		height: 11px;
		transition: all 0.3s ease;


		&:hover {
			background: var(--gsap-blue);
		}
	}

}
