@import "~flickity/dist/flickity.min.css";

.carousel-cell {
	min-height: 100%;
	.cell-wrap .hero {
		transform: scale(0.85);
		transition: all 0.5s ease-out;
	}
}

.carousel-cell {
	opacity: 0.5 !important;
	transition: opacity 1s ease !important;

	.cell-wrap {
		padding-top: 1rem;
	}

	.cell_content {
		padding: 1rem 0;
	}

	&.is-selected {
		opacity: 1 !important;
	}
}

.carousel-cell.is-selected {
	.cell-wrap .hero {
		transform: scale(1.3);
	}
}

.carousel-cell .hero {
	max-width: 16rem;
	margin: 0 auto 1.5rem auto;
}

.flickity-page-dots {
	bottom: -45px;
}

.flickity-page-dot {
	background: #C7C7C7;
	margin: 0 4px;
	transition: all 0.5s ease-out;
}

.flickity-page-dot.is-selected {
	background: #FF8900;
}
