@import "~flickity/dist/flickity.min.css";

.carousel-cell {
	min-height: 100%;
	.cell-wrap {
		transform: scale(0.85);
	}
}

.carousel-cell {
	opacity: 0.5 !important;
	transition: opacity 1s ease !important;
	&.is-selected {
		opacity: 1 !important;
	}
}

.carousel-cell.is-selected {
	.cell-wrap {
		transform: scale(1);
	}
}

.carousel-cell .hero {
	max-width: 16rem;
	margin: 0 auto;
}

.carousel-cell,
.carousel-cell .cell-wrap {
	transition: all 0.5s ease-out;
}
