@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gsap-orange: #FF8900;
	--gsap-blue: #0D3691;
	--gsap-green: #2EB16B;
	--gsap-gray: #646464;
	--magdelin: MagdelinRegular;
	--magdelinBold: MagdelinBold;
}

@import './global/header';
@import './global/page';
@import './global/navigation/primary';
@import './global/navigation/mobile';
@import './global/navigation/secondary';
@import './global/ribbon';
@import './global/typography';
@import './global/pulstating-button';
@import './global/footer';

@import './sections/banner';
@import './sections/how-does-gsap-work';
@import './sections/hatties-effect';
@import './sections/about';
@import './sections/icap';
@import './sections/results';
@import './sections/resources';

@import './carousel';
