.page_wrap {
	position: relative;
	padding: 3rem;
	font-family: var(--magdelin), sans-serif;
	font-weight: 300;
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: hidden;

	@media screen and (min-width: 1440px) {
		overflow-x: visible;
	}
}

.gsap_logo_combined {
	display: flex;
	width: 13rem;

	@media screen and (min-width: 768px) {
		width: 16rem;
	}
}

.gsap_logo_combined .logo {
	position: relative;
	z-index: 10;
}

.gsap_logo_combined .circle {
	margin-left: -6rem;
	position: relative;

	@media screen and (min-width: 768px) {
		width: -9rem;
	}
}
