.pulsating__button__container {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
	}
}

.pulsating__button__container .bg,
.pulsating__button,
.plus_button {
	width: 35px;
	height: 35px;
}

.pulsating__button__container .bg,
.pulsating__button {
	border-radius: 9999px;
	margin: 0 auto;
	top: -1.25rem;
	left: 0;
	right: 0;
	position: absolute;
}

.pulsating__button__container .bg {
	animation: pulse 2s ease infinite;
	border: 1px solid var(--gsap-orange);
}

.pulsating__button {
	outline-width: 0;
	background: var(--gsap-orange);;
	display: flex;
	align-items: center;
	z-index: 50;
}

.plus_button {
	position: relative;
}

.plus_button__line {
	background: #FFF;
	position: absolute;
}

.plus__button__line-horizontal {
	width: 20px;
	height: .20rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.plus__button__line-vertical {
	height: 20px;
	width: 3px;
	display: none;
}

.pulsating__button__container .bg:nth-child(2) {
	animation-delay: 0.5s;
}

@keyframes pulse {
	0% {
		transform: scale(1, 1);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
