h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	font-size: clamp(var(--min), var(--val), var(--max));
	line-height: clamp(var(--lh-min), var(--lh-val), var(--lh-max));
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: "MagdelinBold", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
	margin-bottom: 1rem;
}

h1 {
	--min: 1rem;
	--val: 4vw;
	--max: 1.75rem;
	--lh-min: 0.5;
	--lh-val: 1;
	--lh-max: 1.2;
}

h2 {
	--min: .95rem;
	--val: 3vw;
	--max: 1.40rem;
	--lh-min: 0.65;
	--lh-val: 1.2;
	--lh-max: 1.35;
}

p,
li {
	--min: 0.8rem;
	--val: 4vw;
	--max: 1rem;
}


footer h2 {
	font-family: "Magdelin", sans-serif;
}

footer, .copyright {
	a {
		text-decoration: underline;
	}
}
